# Flask
HOST=0.0.0.0
PORT=9903
FLASK_DEBUG=false

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=liangquan0302
DB_NAME=fit

# JWT
JWT_SECRET=your-secret-key-must-be-at-least-256-bits-long-for-hs256-algorithm-jcenLeung
JWT_EXPIRATION_MS=86400000

# 微信小程序登录
WECHAT_APP_ID=your_wechat_appid
WECHAT_SECRET=your_wechat_secret
WECHAT_LOGIN_URL=https://api.weixin.qq.com/sns/jscode2session

# MinIO
MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_USER_AVATAR_BUCKET=fitpal-user-avatar
MINIO_COMMUNITY_POST_BUCKET=fitpal-community-post
MINIO_USER_AVATAR_PREFIX=avatars
MINIO_COMMUNITY_POST_PREFIX=posts

# 导出目录
EXPORT_PATH=./exports
